/* Geral */
.led-number {
    position: relative;
    width: 75px;
    height: 135px;
    margin: 0px 5px;
}


/* Segmentos */
.segment {position: absolute;}

.segment-a {    
    left: 3px;
    top: 0;
}

.segment-b {    
    right: 0;
    top: 2px;
}

.segment-c {
    right: 0;
    bottom: -1px;
}

.segment-d {
    left: 3px;
    bottom: -3px;
}

.segment-e {
    left: 0;
    bottom: -1px;
}

.segment-f {
    left: 0;
    top: 2px;
}

.segment-g {
    left: 6px;
    top: 59px;
}


/* Segmento desativado */
.segment-disable svg path {
    fill: #DDDDDD !important;    
}


/* Segmento com erro */
.led-error .segment-disable svg path {
    fill: #DDDDDD !important;
}

.led-error div svg path {
    fill: #CC3300 !important;
}


/* Segmento de vitória */
.led-ganhou .segment-disable svg path {
    fill: #DDDDDD !important;
}

.led-ganhou div svg path {
    fill: #32BF00 !important;
}


/* Adaptação para mobile */
@media (max-width: 768px) {
    .led-number {
        transform: scale(0.75);
        margin: -5px;
    }
}