/* Estilos gerais do componente */
.led-number-container {
    position: relative;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.led-number {
    position: relative;
    width: 75px;
    height: 100%;
    margin: 0px 5px;
}


/* Estilização dos segmentos */
.segment {position: absolute;}

.segment-a {    
    left: 3px;
    top: 0;
}

.segment-b {    
    right: 0;
    top: 2px;
}

.segment-c {
    right: 0;
    bottom: -1px;
}

.segment-d {
    left: 3px;
    bottom: -3px;
}

.segment-e {
    left: 0;
    bottom: -1px;
}

.segment-f {
    left: 0;
    top: 2px;
}

.segment-g {
    left: 6px;
    top: 59px;
}